<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Prism CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <!-- Prism JS -->
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    <!-- Compiled and minified CSS -->
    <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" -->
    <!-- Compiled and minified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    {% include "main/includes/nav.html" %}
    <!-- <div class="container"> -->
        {% include "main/includes/msg.html" %}
        {% block content %}
        {% endblock %}
    <!-- </div> -->
</body>
