{% extends "main/common.html" %}

{% block content %}
    <div class="row">
      {% for tut in tutorials %}
        <div class="col s12 m6 l6">
            <div class="card blue-grey darken-1 hoverable">
                <div class="card-content white-text">
                    <span class="card-title">{{tut.tutorial_title}}</span>
                       <p style="font-size:70%">{{tut.tutorial_published}}</p>
                       <p>{{tut.tutorial_content|safe}}</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
    <br>
    the above are the currently available tutorials
{% endblock %}
