{% extends "main/header.html" %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Login</button>
    </form>
    <hr>
    If you don't already have an account, <a href="/register"><strong>Register</strong></a> instead
{% endblock %}
