{% extends "main/header.html" %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Register</button>
    </form>
    <hr>
    If you have an account, <a href="/login"><strong>Log In</strong></a> instead
{% endblock %}
