{% if messages %}
    {% for msg in messages %}
       {% if msg.tags == "success" %}
           <script>M.toast({html: "{{msg}}", classes: "purple darken-1 rounded", displayLength:2000});</script>
       {% elif msg.tags == "info" %}
           <script>M.toast({html: "{{msg}}", classes: "blue rounded", displayLength:4000});</script>
       {% elif msg.tags == "warning" %}
           <script>M.toast({html: "{{msg}}", classes: "orange hovering", displayLength:10000});</script>
       {% elif msg.tags == "error" %}
           <script>M.toast({html: "{{msg}}", classes: "red rounded", displayLength:12000});</script>
       {% endif %}
    {% endfor %}
{% endif %}
