<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">|__always compiling__|</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="https://inherently.xyz">Inherently</a></li>
            <li><a href="https://gentoo.org">Gentoo Site</a></li>
            <li><a href="https://discord.gg/gentoo">Gentoo Discord</a></li>
            {% if user.is_authenticated %}
            <li><a href="/account">Account</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
